@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, sans-serif;

  --primary-50: #f3fbf5;
  --primary-100: #e5f6e8;
  --primary-200: #c7ebcf;
  --primary-300: #a5dfb2;
  --primary-400: #84d396;
  --primary-500: #48bd62;
  --primary-600: #42ac59;
  --primary-700: #338646;
  --primary-800: #286836;
  --primary-900: #1e4f29;
  --secondary-50: #fdf4fb;
  --secondary-100: #fbe8f7;
  --secondary-200: #f6c5ec;
  --secondary-300: #f093dc;
  --secondary-400: #e75ac5;
  --secondary-500: #dd22ae;
  --secondary-600: #c81f9d;
  --secondary-700: #9e197a;
  --secondary-800: #7b145f;
  --secondary-900: #590f46;
  --tertiary-50: #f8fafc;
  --tertiary-100: #f1f5f9;
  --tertiary-200: #e2e8f0;
  --tertiary-300: #cbd5e1;
  --tertiary-400: #94a3b8;
  --tertiary-500: #64748b;
  --tertiary-600: #475569;
  --tertiary-700: #334155;
  --tertiary-800: #1e293b;
  --tertiary-900: #0f172a;
  --warning-50: #fffcf5;
  --warning-100: #fff1d1;
  --warning-200: #ffe29d;
  --warning-300: #fed370;
  --warning-400: #fecb55;
  --warning-500: #febe2a;
  --warning-600: #e7ad26;
  --warning-700: #b4871e;
  --warning-800: #8c6917;
  --warning-900: #6b5012;
  --info-50: #f2f6fc;
  --info-100: #e9f0fb;
  --info-200: #c6d7f6;
  --info-300: #719dea;
  --info-400: #4d7fd6;
  --info-500: #215fcc;
  --info-600: #1e56ba;
  --info-700: #174391;
  --info-800: #123778;
  --info-900: #0e2856;
  --error-50: #fef5f5;
  --error-100: #fde8e9;
  --error-200: #f9c7c8;
  --error-300: #f38e92;
  --error-400: #eb4b51;
  --error-500: #e61e25;
  --error-600: #d11b22;
  --error-700: #a3151a;
  --error-800: #8a0f14;
  --error-900: #610d10;
  --transparent: transparent;
  --current: currentcolor;
  --white: #fff;
  --black: #000;
  --gray-50: #fafafa;
  --gray-100: #f4f5f5;
  --gray-200: #ecedee;
  --gray-300: #e4e5e7;
  --gray-400: #d6d8db;
  --gray-500: #bbbfc3;
  --gray-600: #93989f;
  --gray-700: #6d7278;
  --gray-800: #53565a;
  --gray-900: #27292a;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --orange-50: #fff8f5;
  --orange-100: #fff4f0;
  --orange-200: #ffe6db;
  --orange-300: #ffb899;
  --orange-400: #ff7233;
  --orange-500: #ff4f00;
  --orange-600: #d64200;
  --orange-700: #b53800;
  --orange-800: #992f00;
  --orange-900: #8c2b00;
  --red-50: #fef5f5;
  --red-100: #fde8e9;
  --red-200: #f9c7c8;
  --red-300: #f38e92;
  --red-400: #eb4b51;
  --red-500: #e61e25;
  --red-600: #d11b22;
  --red-700: #a3151a;
  --red-800: #8a0f14;
  --red-900: #610d10;
  --yellow-50: #fffcf5;
  --yellow-100: #fff1d1;
  --yellow-200: #ffe29d;
  --yellow-300: #fed370;
  --yellow-400: #fecb55;
  --yellow-500: #febe2a;
  --yellow-600: #e7ad26;
  --yellow-700: #b4871e;
  --yellow-800: #8c6917;
  --yellow-900: #6b5012;
  --blue-50: #f2f6fc;
  --blue-100: #e9f0fb;
  --blue-200: #c6d7f6;
  --blue-300: #719dea;
  --blue-400: #4d7fd6;
  --blue-500: #215fcc;
  --blue-600: #1e56ba;
  --blue-700: #174391;
  --blue-800: #123778;
  --blue-900: #0e2856;
  --green-50: #f3fbf5;
  --green-100: #e5f6e8;
  --green-200: #c7ebcf;
  --green-300: #a5dfb2;
  --green-400: #84d396;
  --green-500: #48bd62;
  --green-600: #42ac59;
  --green-700: #338646;
  --green-800: #286836;
  --green-900: #1e4f29;
  --purple-50: #faf5fe;
  --purple-100: #f3e9fd;
  --purple-200: #e0c9fa;
  --purple-300: #c49ef5;
  --purple-400: #a871ef;
  --purple-500: #8c47e8;
  --purple-600: #7c40d1;
  --purple-700: #6333a3;
  --purple-800: #4d2780;
  --purple-900: #371b5c;
  --fuchsia-50: #fdf4fb;
  --fuchsia-100: #fbe8f7;
  --fuchsia-200: #f6c5ec;
  --fuchsia-300: #f093dc;
  --fuchsia-400: #e75ac5;
  --fuchsia-500: #dd22ae;
  --fuchsia-600: #c81f9d;
  --fuchsia-700: #9e197a;
  --fuchsia-800: #7b145f;
  --fuchsia-900: #590f46;
  --pink-50: #fff5f8;
  --pink-100: #ffebf2;
  --pink-200: #ffccdf;
  --pink-300: #ff99be;
  --pink-400: #ff669e;
  --pink-500: #ff337e;
  --pink-600: #e62e71;
  --pink-700: #b42459;
  --pink-800: #8a1c45;
  --pink-900: #61142f;
  --aqua-50: #f5fcfc;
  --aqua-100: #e6f8f8;
  --aqua-200: #c3eded;
  --aqua-300: #8adada;
  --aqua-400: #53c7c7;
  --aqua-500: #1db5b5;
  --aqua-600: #1aa3a3;
  --aqua-700: #148282;
  --aqua-800: #0f6262;
  --aqua-900: #0a4545;
}
