@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, sans-serif;

  --transparent: transparent;
  --current: currentcolor;
  --white: #fff;
  --black: #000;
  --gray-50: #fafafa;
  --gray-100: #f4f5f5;
  --gray-200: #ecedee;
  --gray-300: #e4e5e7;
  --gray-400: #d6d8db;
  --gray-500: #bbbfc3;
  --gray-600: #93989f;
  --gray-700: #6d7278;
  --gray-800: #53565a;
  --gray-900: #27292a;
  --orange-50: #fff8f5;
  --orange-100: #fff4f0;
  --orange-200: #ffe6db;
  --orange-300: #ffb899;
  --orange-400: #ff7233;
  --orange-500: #ff4f00;
  --orange-600: #d64200;
  --orange-700: #b53800;
  --orange-800: #992f00;
  --orange-900: #8c2b00;
  --red-50: #fef5f5;
  --red-100: #fde8e9;
  --red-200: #f9c7c8;
  --red-300: #f38e92;
  --red-400: #eb4b51;
  --red-500: #e61e25;
  --red-600: #d11b22;
  --red-700: #a3151a;
  --red-800: #8a0f14;
  --red-900: #610d10;
  --yellow-50: #fffcf5;
  --yellow-100: #fff1d1;
  --yellow-200: #ffe29d;
  --yellow-300: #fed370;
  --yellow-400: #fecb55;
  --yellow-500: #febe2a;
  --yellow-600: #e7ad26;
  --yellow-700: #b4871e;
  --yellow-800: #8c6917;
  --yellow-900: #6b5012;
  --blue-50: #f2f6fc;
  --blue-100: #e9f0fb;
  --blue-200: #c6d7f6;
  --blue-300: #719dea;
  --blue-400: #4d7fd6;
  --blue-500: #215fcc;
  --blue-600: #1e56ba;
  --blue-700: #174391;
  --blue-800: #123778;
  --blue-900: #0e2856;
  --green-50: #f3fbf5;
  --green-100: #e5f6e8;
  --green-200: #c7ebcf;
  --green-300: #a5dfb2;
  --green-400: #84d396;
  --green-500: #48bd62;
  --green-600: #42ac59;
  --green-700: #338646;
  --green-800: #286836;
  --green-900: #1e4f29;
}
